body{
    background:linear-gradient(90deg, rgb(51, 47, 234) 0%, rgb(156, 95, 159) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

#text-input {
  width: 20rem;
  height: 2rem;

  border-radius: 10px;
  border: none;
}

#add-btn {
  width: 4.5rem;
  height: 2.5rem;

  border-radius: 27px;
  border: none;
  cursor: pointer;
}

.list-item {
  width: 20rem;
  height: 2rem;
background-color: rgb(29, 161, 222);
}